dataCommunication/
*/**/*.zip
*/**/*.pdf
*/**/*.docx
*/**/*.odt
*/**/*.log
*/**/.mp4
*/**/.mp3
*/**/.flv
*/**/*.swp
*.pdf
*.zip
*.docx
*.odt
*.log
*.mp4
*.mp3
*.flv
*.swp
*/*.mp3
*/*.flv
*/*.swp
__pycache__/
*/**/oix-full-snapshot-2018-11-01-2200
*/**/oix-full-snapshot-2018-11-01-2200.bz
*/**/*.txt
project13/oix-full-snapshot-2018-11-01-2200
project13/oix-full-snapshot-2018-11-01-2200.bz2
project13/sample.txt
*/**/*.pickle


