dataCommunication/
*/**/*.zip
*/**/*.pdf
*/**/*.docx
*/**/*.odt
*/**/*.log
*/**/.mp4
*/**/.mp3
*/**/.flv
*/**/*.swp
*.pdf
*.zip
*.docx
*.odt
*.log
*.mp4
*.mp3
*.flv
*.swp
*/*.mp3
*/*.flv
*/*.swp
__pycache__/


